.App {
  text-align: center;
}

header{
  width: 90%;
  height: 200px;
}

body{
  width: 90%;
  display: flex;
  justify-content: center;
}

.image-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 90%;
}
.title{
  font-weight: bold;
  font-size: 1.5em;
}

.image-image{
  width: 75%;
  max-height: 200px;
}
.num-horns{
  margin-top: 0;
}

.image-li{
  border: 1px solid black;
  border-radius: 5px;

  width: 250px;
  height: 350px;
  margin: 50px;
  padding: 0;
}

.description{
  font-size: .75em ;
  margin-bottom: 0;
}

button{
  background-color: black;
  color: white;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 2px ;
  outline: none;
}

button.active{
  box-shadow: 1px;
}

.filter-list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 90%;
  justify-content: center;
}

.filter-li{
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

header{
  border-bottom: 2px solid black;
  font-size: 2.5em;
  box-shadow: 3px;
}